@define-color audio rgb(50,100,240);
@define-color video rgb(200,200,0);
@define-color midi rgb(200,0,50);
@define-color graphview-link #808080;
@define-color graphview-grid @text_view_bg;

.audio {
    background: @audio;
    color: black;
}

.video {
    background: @video;
    color: black;
}

.midi {
    background: @midi;
    color: black;
}